body {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  color: #424242;
  background-color: #fefefe;
  min-height: 100vh;
}

.main {
  margin-top: 3rem;
}

section {
  margin-bottom: 3rem;
}

article {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: #1eaedb;
}

a:hover {
  text-decoration: underline;
  color: #33c3f0;
}

.header, .footer {
  background: #424242;
}

.header ul, .footer ul {
  margin: 0;
  padding: 0;
}

.header li, .footer li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header a, .header a img, .footer a img {
  transition: transform 0.2s;
  transform: translateY(0) scale(1);
}

.header a:hover, .header a:hover img, .footer a:hover img {
  transform: translateY(-0.1em) scale(1.3);
}

.navigation, .contact {
  text-align: center;
}

.navigation a {
  display: block;
  padding: 0.5em 0.3em;
  font-size: 1.3em;
  text-decoration: none;
  text-transform: lowercase;
  color: #ffffff;
}

.header .contact {
  display: none;
}

.contact a {
  display: inline-block;
  margin-top: 0.5em;
  vertical-align: top;
  height: 2.8em;
}

.contact img {
  width: 1.3em;
  height: 1.3em;
  padding: 0.5em;
}

h2.title a {
  text-decoration: none;
  color: #424242;
}

h2.title a:hover {
  text-decoration: underline;
  color: #33c3f0;
}

.blog-post .content h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.blog-post .content h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.blog-post .content h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.blog-list {
  margin: 0;
}

.blog-list li {
  list-style-type: none;
}

.blog-list .date {
  display: inline-block;
  width: 9em;
}

.blog-list .title {
  display: inline-block;
}

.date, .tags {
  color: #9e9e9e;
}

.header {
  width: 100%;
  display: table;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.logo, .logo img {
  margin: 2em auto;
  display: block;
  max-width: 100%;
}

@media (max-width: 400px) {
  .navigation a {
    padding: 0.5em 0.2em;
  }
}

@media (max-width: 360px) {
  .navigation a {
    padding: 0 0.9em;
  }
}

@media (max-width: 275px) {
  .navigation a {
    padding: 0 2em;
  }
}

@media (min-width: 660px) {
  .navigation {
    text-align: left;
  }

  .navigation a {
    padding: 0.5em 0.5em;
  }

  .header .contact {
    display: block;
    position: absolute;
    top: 0;
    right: 0.5em;
    text-align: right;
  }

  .footer .contact {
    display: none;
  }
}
