doctype html
html
  head
    title Goh Wei Wen
    link(href="css/normalize.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Arimo:400,700|Cinzel:400" rel="stylesheet")
    style.
      body { background: #ffffff; font-family: Arimo, sans-serif; font-size: 11pt; }
      main { background: #ffffff; max-width: 720px; margin: auto; padding: 0; }
      header, section { max-width: 720px; }
      h1, h2, h3 { font-family: 'Cinzel', serif; margin: 0; color: #339966; }
      h1 { font-size: 1.5em; }
      h2 { font-size: 1.1em; border-bottom: 1px dotted #606264; }
      body, a { color: #606264; }

      @media screen {
        body { margin: 1em; }
      }

      @media screen and (min-width: 760px) {
        body { background-color: #f4f4f4; }
        main { padding: 3em; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
      }

      /* Header */
      .header { display: flex; }
      .header .me { flex: auto; }
      .header .contact { flex: initial; list-style: none; margin: 0; padding: 0; }
      .header .contact li a { text-decoration: none; }
      .header .contact li { display: block; }
      .header .contact li .icon { width: 1em; height: 1em; vertical-align: middle; margin: 0 0.5em 0 1em; }

      /* Main */
      section { padding: 0.5em 0 0 0; }
      section ul { list-style: none; margin: 0; padding: 0; }
      section ul li { position: relative; margin: 0.5em 0; }
      section ul li:last-child { margin-bottom: 0; }

      /* Education, Experience */
      section header { display: flex; margin: 0.2em 0; }
      section .company { flex: initial }
      section .title { flex: initial; }
      section .date { flex: auto; text-align: right; }

      section ul.description { list-style: none; }
      section ul.description li { margin: 0; }

      /* Projects */
      .projects .logo { position: absolute; left: -40px; top: 0; width: 32px; height: 32px; }
      .projects li { margin-left: 40px; }

      /* Languages, Interests */
      .languages ul, .interests ul { margin: 8px 0; list-style: none; }
      .languages ul li, .interests ul li { margin: 0; }
  body

    main

      header.header
        div.me
          h1.title Goh Wei Wen
        ul.contact
          li.github
            a(href="https://github.com/goweiwen")
              svg.icon(viewBox="0 0 32 32")
                path(fill="#404040" d="M16 0c-8.84 0-16 7.164-16 16 0 7.070 4.584 13.066 10.94 15.18 0.8 0.15 1.094-0.344 1.094-0.77 0-0.38-0.014-1.386-0.020-2.72-4.452 0.966-5.39-2.146-5.39-2.146-0.728-1.848-1.78-2.34-1.78-2.34-1.45-0.992 0.112-0.972 0.112-0.972 1.606 0.112 2.45 1.648 2.45 1.648 1.428 2.446 3.746 1.74 4.66 1.33 0.144-1.034 0.556-1.74 1.014-2.14-3.554-0.4-7.288-1.776-7.288-7.906 0-1.746 0.62-3.174 1.646-4.294-0.18-0.404-0.72-2.030 0.14-4.234 0 0 1.34-0.43 4.4 1.64 1.28-0.356 2.64-0.532 4-0.54 1.36 0.008 2.72 0.184 4 0.54 3.040-2.070 4.38-1.64 4.38-1.64 0.86 2.204 0.32 3.83 0.16 4.234 1.020 1.12 1.64 2.548 1.64 4.294 0 6.146-3.74 7.5-7.3 7.894 0.56 0.48 1.080 1.46 1.080 2.96 0 2.14-0.020 3.86-0.020 4.38 0 0.42 0.28 0.92 1.1 0.76 6.402-2.098 10.982-8.098 10.982-15.158 0-8.836-7.164-16-16-16z")
              | github.com/goweiwen

          li.email
            a(href="mailto:goweiwen@gmail.com")
              svg.icon(viewBox="0 0 28 28")
                path(fill="#404040" d="M28 11.094v12.406c0 1.375-1.125 2.5-2.5 2.5h-23c-1.375 0-2.5-1.125-2.5-2.5v-12.406c0.469 0.516 1 0.969 1.578 1.359 2.594 1.766 5.219 3.531 7.766 5.391 1.313 0.969 2.938 2.156 4.641 2.156h0.031c1.703 0 3.328-1.188 4.641-2.156 2.547-1.844 5.172-3.625 7.781-5.391 0.562-0.391 1.094-0.844 1.563-1.359zM28 6.5c0 1.75-1.297 3.328-2.672 4.281-2.438 1.687-4.891 3.375-7.313 5.078-1.016 0.703-2.734 2.141-4 2.141h-0.031c-1.266 0-2.984-1.437-4-2.141-2.422-1.703-4.875-3.391-7.297-5.078-1.109-0.75-2.688-2.516-2.688-3.938 0-1.531 0.828-2.844 2.5-2.844h23c1.359 0 2.5 1.125 2.5 2.5z")
              | goweiwen@gmail.com

          li.phone
            a(href="tel:+65-91252435")
              svg.icon(viewBox="0 0 32 32")
                path(fill="#404040" d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z")
              | +65 91252435

          //- li.website
          //-   a(href="https://goweiwen.me")
          //-     svg.icon(viewBox="0 0 32 32")
          //-       path(fill="#404040" d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 30c-1.967 0-3.84-0.407-5.538-1.139l7.286-8.197c0.163-0.183 0.253-0.419 0.253-0.664v-3c0-0.552-0.448-1-1-1-3.531 0-7.256-3.671-7.293-3.707-0.188-0.188-0.442-0.293-0.707-0.293h-4c-0.552 0-1 0.448-1 1v6c0 0.379 0.214 0.725 0.553 0.894l3.447 1.724v5.871c-3.627-2.53-6-6.732-6-11.489 0-2.147 0.484-4.181 1.348-6h3.652c0.265 0 0.52-0.105 0.707-0.293l4-4c0.188-0.188 0.293-0.442 0.293-0.707v-2.419c1.268-0.377 2.61-0.581 4-0.581 2.2 0 4.281 0.508 6.134 1.412-0.13 0.109-0.256 0.224-0.376 0.345-1.133 1.133-1.757 2.64-1.757 4.243s0.624 3.109 1.757 4.243c1.139 1.139 2.663 1.758 4.239 1.758 0.099 0 0.198-0.002 0.297-0.007 0.432 1.619 1.211 5.833-0.263 11.635-0.014 0.055-0.022 0.109-0.026 0.163-2.541 2.596-6.084 4.208-10.004 4.208z")
          //-     | https://goweiwen.me

          //- li.address
          //-   span
          //-     svg.icon(viewBox="0 0 32 32")
          //-       path(fill="#404040" d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z")
          //-     | Singapore

      section.education
        h2 Education
        ul
          li
            header
              strong.company National University of Singapore
              span.date Aug 2016 - Present
            ul.description
              li Bachelor of Computing in Computer Science. GPA: 4.69/5.00 (First Class Honours)

          li
            header
              strong.company Singapore Polytechnic
              span.date Apr 2011 - Apr 2014
            ul.description
              li Diploma in Chemical Engineering. GPA: 3.67/4.00
              li Diploma-Plus Certificate in Engineering Mathematics and Science

      section.experience
        h2 Experience
        ul
          li
            header
              strong.company Government Technology Agency of Singapore (GovTech)
              span.title , Data Engineer
              span.date Dec 2017 - Jan 2018
            ul.description
              li Implemented and released public APIs for Data.gov.sg using AWS Lambda and DynamoDB.
              li Developed and deployed medicine reminder solution targeted to elderly.

          li
            header
              strong.company Ethereum Tech
              span.title , Freelance Web Developer
              span.date Oct 2017 - Dec 2017
            ul.description
              li Created the front-end of a cryptocurrency mining dashboard with Vue.js.

          li
            header
              strong.company Ministry of Defence (Singapore)
              span.title , Personnel Systems Analyst
              span.date Dec 2014 - Aug 2016
            ul.description
              li Awarded DMG Excellence Award (Individual) for displaying exemplary attitude towards work.
              li Simulated and analysed personnel movement using System Dynamics.
              li Wrote VBA macros and SQL queries for Microsoft Access and Excel.

          li
            header
              strong.company Alpha Consulting Engineers Pte Ltd
              span.title , System Administrator
              span.date Mar 2014 - Jul 2014
            ul.description
              li Administered Windows servers and clients using IIS and Active Directory.
              li Redesigned homepage using HTML5, CSS and JavaScript.
              li Implemented features in the intranet page using jQuery, PHP and MariaDB/MySQL.

          //- li
          //-   header
          //-     span.title Technician Trainee
          //-     span.company Chemical Process Technology Centre
          //-     span.date Feb 2013 - Apr 2013
          //-   ul.description
          //-     li Managed the day to day operations of chemical plant over 12-hour shifts.

      section.projects
        h2 Projects
        ul
          li
            img.logo(src="images/pear.png")
            header
              strong.title Pear
              span.date Oct 2017 - Nov 2017
            ul.description
              li Progressive Web App (PWA), iOS and Android app where users matchmake their friends.
              li Won 2nd prize for CS3216 Software Product Engineering for Digital Markets in NUS School of Computing Term Project Showcase (11th STePS).
              li Led front-end development using Vue.js and Cordova.
              li Released app to iOS App Store and Google Play Store, hit 300 users within 24 hours.
              li Source: #[a(href="https://github.com/Pear-App/pear-client") github.com/Pear-App/pear-client], Demo: #[a(href="http://perfectpear.me") perfectpear.me]

          li
            img.logo(src="images/collaborate.png")
            header
              strong.title collaborate!
              span.date Jun 2017 - Aug 2017
            ul.description
              li Real-time collaborative webapp that simulates a table top discussion.
              li Awarded honourable mention in the Apollo 11 (advanced) category of NUS's Orbital 2017.
              li Led front-end development using React + Redux and Socket.io.
              li Wrote and deployed back-end using Node.js and Koa.
              li Source: #[a(href="https://github.com/goweiwen/collaborate") github.com/goweiwen/collaborate], Demo: #[a(href="https://collaborate-app.herokuapp.com") collaborate-app.herokuapp.com]

          li
            img.logo(src="images/vue.png")
            header
              strong.title vue-swing
              span.date Oct 2017 - Present
            ul.description
              li Vue.js component for swiping cards left and right, as seen in apps like Jelly and Tinder.
              li Source: #[a(href="https://github.com/goweiwen/vue-swing") github.com/goweiwen/vue-swing]

          li
            img.logo(src="images/ivle-sync.png")
            header
              strong.title ivle-sync
              span.date Aug 2016 - Present
            ul.description
              li Desktop application to automatically downloads files, announcements, and webcasts from NUS's IVLE portal.
              li Created and maintained application built in Python 3.
              li Source: #[a(href="https://github.com/goweiwen/ivle-sync") github.com/goweiwen/ivle-sync]

      //- section.awards
      //-   h2 Awards
      //-   ul
      //-     li
      //-       strong 11th STePS 2nd Prize
      //-       |  (2017): Pear won the 2nd prize in NUS's 11th School of Computing Term Project Showcase.
      //-     li
      //-       strong Orbital Programme 2017 Honorable Mention (Apollo 11)
      //-       |  (2017): collaborate! won an honorable mention in the advanced category of NUS School of Computing's Orbital 2017.
      //-     li
      //-       strong DMG Excellence Award (Individual)
      //-       |  (2016): awarded by the Defence Management Group to individuals who have displayed exemplary attitude towards their work.

      section.languages
        h2 Preferred Technologies
        ul
          li JavaScript, HTML/CSS, Python, Ruby, Kotlin, Swift, Haskell, SQL
          //- , VBA, Octave, Lua
          li Vue.js, React, Express/Koa, MongoDB, Ruby on Rails, Laravel

      //- section.interests
      //-   h2 Personal Interests
      //-   ul
      //-     li Languages: English (native), Chinese (native), Japanese (conversational, JLPT N3)
      //-     li Hobbies: Leathercraft, Electronics, Drawing
