    </div>

    <footer class="footer">
      <ul class="contact">
        {{- with .Site.Params.github }}
        <li><a href="{{ . }}" target="_blank"><img src="/images/icon-github.svg" alt="GitHub" title="GitHub"></a></li>{{ end }}
        {{- with .Site.Params.linkedin }}
        <li><a href="{{ . }}" target="_blank"><img src="/images/icon-linkedin.svg" alt="LinkedIn" title="LinkedIn"></a></li>{{ end }}
        {{- with .Site.Params.email }}
        <li><a href="mailto:{{ . }}" target="_blank"><img src="/images/icon-email.svg" alt="Email" title="Email"></a></li>{{ end }}
      </ul>
    </footer>
    {{ template "_internal/google_analytics.html" . }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night-eighties.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
