        <article class="blog-post" itemid="{{ .Permalink }}" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="title" itemprop="headline">
            <strong><a href="{{ .Permalink }}">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</a></strong>
          </h2>
          <p class="date" itemprop="about">
            <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Monday, 2 January, 2006" }}</time>
          </p>
          <div class="content" itemprop="articleBody">
{{ .Content }}
          </div>
          <p>
             <a class="expand" href="{{ .RelPermalink }}">comments</a>
          </p>
        </article>
