body {
  background: #fff;
  font-family: 'Arimo', sans-serif;
  line-height: 1.4em;
}
main {
  background: #fff;
  max-width: 960px;
  margin: auto;
  padding: 3em;
}
header,
section {
  max-width: 960px;
}
h1,
h2,
h3,
.navbar {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #1e836c;
  line-height: 1.2em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
body {
  color: #606264;
}
a {
  color: #60b0d0;
  text-decoration: underline;
}

section,
nav,
a,
ul {
  transition: all 0.2s;
}
svg path {
  transition: fill 0.2s;
}

/* Navbar */
main {
  margin-top: 3em;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 3.4em;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .hamburger {
  display: none;
}
.navbar .links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar .links li {
  font-size: 1.2em;
  display: inline-block;
  margin: 1em 0.5em 0 0.5em;
  height: 2em;
}
.navbar .links li a.link {
  color: #45b29a;
  text-decoration: none;
  padding: calc(1em - 6px);
}
.navbar .links li a:hover {
  color: #1e836c;
  border-bottom: 3px solid #1e836c;
}
.navbar.is-transparent {
  background: none;
  box-shadow: none;
}
@media (max-width: 920px) {
  .navbar.is-hidden {
    transform: translateY(-110%);
  }
  .navbar {
    background: #fff;
  }
  .navbar .links {
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background: #fff;
  }
  .navbar .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(1.5em - 12px);
    height: 24px;
    width: 24px;
  }
  .navbar .hamburger svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }
  .navbar .links.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(3em);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .navbar.is-transparent .links.is-visible {
    left: 5vw;
    width: 90vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(../images/concrete-texture.jpg);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.1);
}
.hero .wrapper {
  margin: auto;
}
.hero .intro,
.hero .outro {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin: 1.5em 0;
}
.hero .intro {
  animation: intro 0.4s;
}
.hero .outro {
  animation: outro 4s;
}
.hero .logo {
  width: 50vw;
  max-width: 70vh;
  margin: auto;
}
.hero .contact {
  text-align: center;
  list-style: none;
  margin: 0 0 5em 0;
  padding: 0;
  animation: outro 4s;
}
.hero .contact li {
  display: inline-block;
}
.hero .contact li a {
  text-decoration: none;
}
.hero .contact li .icon {
  width: 3em;
  height: 3em;
  vertical-align: middle;
  margin: 0 1em;
}
@media (max-width: 720px) {
  .hero .logo {
    width: 80vw;
  }
  .hero .intro,
  .hero .outro {
    font-size: 1.5em;
  }
  .hero .contact li .icon {
    width: 2em;
    height: 2em;
  }
}
.hero .contact li .icon:hover {
  transform: translateY(-1px);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}
.hero .contact li .icon:hover path {
  fill: #1e836c;
}
@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes outro {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */
.header .me {
  display: flex;
  padding: 0 64px;
}
.header .me .face {
  margin-top: 2em;
  margin-right: 5em;
}
.header .me .face img {
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 180px;
}
.download {
  margin: 2em 0;
  text-align: center;
}
.download a {
  text-decoration: none !important;
  display: inline-block;
  margin: 0 0.5em;
}
.download .button {
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0.6em;
  line-height: 100%;
  background: #68c3a3;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.download .button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  background: #4eb28f;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.download .button .icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

/* Divider */
hr {
  border: 1px dashed #eee;
}

section.contact ul {
  flex: initial;
  list-style: none;
  margin: 0;
  padding: 0;
}
section.contact ul li {
  display: block;
}
section.contact ul li a {
  text-decoration: none;
}
section.contact ul li .icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin: 0 0.5em 0 1em;
}

/* Main */
section {
  margin: 2.5em 0;
  overflow: hidden;
}
section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section ul li {
  position: relative;
  margin: 0.3em 0;
}
section ul li:last-child {
  margin-bottom: 0;
}

/* Education, Experience, Projects */
.education header,
.experience header,
.projects header {
  display: block;
  margin: 3em 0 0.8em 0;
}
.education .school,
.experience .company,
.projects .title {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.3em;
}
.experience .title {
  display: inline-block;
  font-size: 1em;
}
.education .date,
.experience .date,
.projects .date {
  display: inline-block;
}
.experience .title + .date::before,
.awards .award::after,
.awards .title::after {
  content: ', ';
}
.awards header {
  margin: 1em 0 0.3em 0;
}
.education .logo,
.experience .logo,
.projects .logo {
  position: absolute;
  left: -160px;
  top: 0;
  width: 128px;
  height: 128px;
}
.education > ul > li,
.experience > ul > li,
.projects > ul > li {
  margin-left: 160px;
  min-height: 160px;
}

section ul.description {
  list-style: disc;
  margin-bottom: 1em;
}
section ul.description li {
  margin: 0 0 0 1.5em;
}

/* Languages, Interests */
.languages ul,
.interests ul {
  margin: 8px 0;
  list-style: none;
}
.languages ul li,
.interests ul li {
  margin: 0;
}

@media (max-width: 720px) {
  body {
    font-size: 11pt;
  }
  main {
    padding: 1em;
  }

  .header .me {
    flex-direction: column;
    padding: 0;
  }
  .header .me .face {
    margin: auto;
  }

  section header {
    flex-direction: column;
  }
  section .date {
    text-align: left;
  }

  .education .logo,
  .experience .logo {
    display: none;
  }
  .education > ul > li,
  .experience > ul > li {
    margin-left: 0;
  }
  .experience .title {
    display: block;
  }
  .education .date,
  .experience .date,
  .projects .date {
    display: block;
  }
  .experience .title + .date::before {
    content: '';
  }

  .projects .logo {
    left: -40px;
    width: 32px;
    height: 32px;
  }
  .projects > ul > li {
    margin-left: 40px;
    min-height: 40px;
  }
}

main > .not-appear {
  opacity: 0;
}
main > :not(.not-appear) {
  animation: appear 1s;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
